/***** HEADER *****/
.container.main {
    margin-top: 7.0em;
}

/***** INDEX *****/
#post {
    width: 75%;
    margin-bottom: 15px;
    transition: background 0.6s ease-in-out;
    transition: border 0.4s ease-in-out;
}

#post:hover {
    border: 1px solid blue;
    background: #EFEFEF;
}

.icon {
    font-size: 20px;
}

.posts {
    margin-bottom: 50px;
}

a, a:hover  {
    color: inherit;
}

/***** SHOW ******/
#delete {
    display: inline;
}
